<section class="border vh-100">
  <h2 class="text-uppercase text-center mt-5 p-3 h1 fw-bold">
    portfolio component
  </h2>
  <div class="d-flex mb-4">
    <div class="borderss ms-auto mt-2"></div>
    <h6 class="text-dark mx-3"><i class="fa-solid fa-tree"></i></h6>
    <div class="borderss me-auto mt-2"></div>
  </div>
  <div class="container">
    <div class="row g-3">
      <div class="col-md-4">
        <div class="items bg-danger text-center rounded-3">
          <img class="rounded-circle mt-3" src="/images/1.jpg" alt="" />
        </div>
        <div
          class="icon rounded-3 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-circle-xmark fa-2xl"></i>
        </div>
      </div>
      <div class="col-md-4">
        <div class="items bg-danger text-center rounded-3">
          <img class="rounded-circle mt-3" src="/images/1.jpg" alt="" />
        </div>
        <div
          class="icon rounded-3 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-circle-xmark fa-2xl"></i>
        </div>
      </div>
      <div class="col-md-4">
        <div class="items bg-danger text-center rounded-3">
          <img class="rounded-circle mt-3" src="/images/1.jpg" alt="" />
        </div>
        <div
          class="icon rounded-3 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-circle-xmark fa-2xl"></i>
        </div>
      </div>

      <div class="col-md-4">
        <div class="items bg-danger text-center rounded-3">
          <img class="rounded-circle mt-3" src="/images/1.jpg" alt="" />
        </div>
        <div
          class="icon rounded-3 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-circle-xmark fa-2xl"></i>
        </div>
      </div>
      <div class="col-md-4">
        <div class="items bg-danger text-center rounded-3">
          <img class="rounded-circle mt-3" src="/images/1.jpg" alt="" />
        </div>
        <div
          class="icon rounded-3 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-circle-xmark fa-2xl"></i>
        </div>
      </div>
      <div class="col-md-4">
        <div class="items bg-danger text-center rounded-3">
          <img class="rounded-circle mt-3" src="/images/1.jpg" alt="" />
        </div>
        <div
          class="icon rounded-3 d-flex justify-content-center align-items-center"
        >
          <i class="text-white fa-solid fa-circle-xmark fa-2xl"></i>
        </div>
      </div>
    </div>
  </div>
</section>
