<section class="text-white p-5 border">
  <div class="container p-5">
    <h2 class="text-center text-dark display-5 fw-semibold mt-5 text-uppercase">
      conatct section
    </h2>
    <div class="d-flex">
      <div class="borders ms-auto mt-2"></div>
      <h6 class="text-dark mx-3"><i class="fa-solid fa-tree"></i></h6>
      <div class="borders me-auto mt-2"></div>
    </div>
    <div class="forms p-3 mt-5">
      <form class="">
        <input
          class="form-check-input rounded-2 rounded-2 p-3 shadow"
          placeholder="userName"
          type="text"
        />
        <input
          class="form-check-input rounded-2 rounded-2 p-3 shadow"
          placeholder="userAge"
          type="text"
        />
        <input
          class="form-check-input rounded-2 rounded-2 p-3 shadow"
          placeholder="userEmail"
          type="email"
        />
        <input
          class="form-check-input rounded-2 rounded-2 p-3 shadow"
          placeholder="userPassword"
          type="number"
        />
      </form>

      <button class="btn btn-primary mt-5 mb-5">send Message</button>
    </div>
  </div>
</section>
