<nav id="nan" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-white text-uppercase h1 fs-2 p-5"
      routerLink="/startframework"
      >Start Framework
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex gap-5">
        <li class="nav-item">
          <a
            class="nav-link active rounded-4 text-white fw-bold"
            routerLinkActive="my-style"
            routerLink="/home"
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active rounded-5 text-white fw-bold"
            routerLinkActive="my-style"
            routerLink="/about"
            >PORTFOLlO</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active rounded-5 text-white fw-bold"
            routerLinkActive="my-style"
            routerLink="/gallery"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
