<section
  id="frameworks"
  class="vh-100 text-center text-white d-flex justify-content-center align-items-center"
>
  <div>
    <img id="imgs" class="rounded-circle mb-5" src="/images/1.jpg" alt="" />
    <h1 class="text-uppercase fw-bold">start Framework</h1>
    <div class="d-flex">
      <div class="borders ms-auto mt-2"></div>
      <h6 class="text-white mx-3"><i class="fa-solid fa-tree"></i></h6>
      <div class="borders me-auto mt-2"></div>
    </div>
    <p>Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>
